version: '3'
services:
  tests:
    build: .
    command: bash -c "sleep 20 && npm test"
    depends_on:
      - dbConfig

  mongodb:
    image: mongo:2.6.8
    volumes:
      - ./scripts/:/scripts
    ports:
      - 27017:27017
      - 28017:28017
    command: mongod --nojournal --noprealloc --replSet "rs" --smallfiles --oplogSize 128

  dbConfig:
    image: mongo:2.6.8
    volumes:
      - ./scripts/:/scripts
    command: bash -c "sleep 10 && chmod +x /scripts/mongodb_config.sh && ./scripts/mongodb_config.sh"
    depends_on:
      - mongodb
